@model PagedList.IPagedList<Processo.Entidades.ServicoPessoaJuridica>
@using PagedList.Mvc;
@using Web.Extensions

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Inserir Serviços
                    </h3>
                </div>
                <div class="panel-body">
                    <div style="background-color: #c3c3c3; overflow: auto;" class="col-md-12">
                        @using (Html.BeginForm("Associar", "Servico", FormMethod.Post))
                        {
                            <br />
                            <div style="text-align:center;">
                                @Html.DropDownList("servico",
                            ViewBag.Servicos as IEnumerable<SelectListItem>,
                            "Selecione um serviço",
                            new { @class = "form-control", style = "display:inline-block; width:42%" })


                                @*@Html.TextBoxFor(e => e.Valor, htmlAttributes: new { @class = "form-control", style = "display:inline-block; width:42%;", placeholder = "Valor em Fits" })
                                @Html.ValidationMessageFor(e => e.Valor)*@

                                  @Html.TextBox("valor", null, new { @class = "form-control", style = "display:inline-block; width:42%;", placeholder = "Valor em Fits" })

                                <button type="submit" class="btn btn-sucess">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </button>
                                <br />
                                <br />
                            </div>
                        }
                        <div style="overflow:auto; max-height:300px;">
                            <div style="background-color:whitesmoke; height:2000px;">
                                <table class="table">
                                    <tbody>
                                        <tr style="text-align:center;">
                                            <td><strong>Serviço</strong></td>
                                            <td><strong>Valor</strong></td>
                                            <td><strong>Gerar QR CODE</strong></td>
                                            <td><strong>Remover</strong></td>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr style="text-align:center">
                                                <td>@item.Servico.Nome</td>
                                                <td>@item.Valor</td>
                                                @*<td>
                                                        <button class="btn btn-default" data-title="QRCODE" data-toggle="modal" data-target="#qrcode" data-placement="top" rel="tooltip"><span class="glyphicon glyphicon-qrcode"></span></button>
                                                    </td>*@

                                                <td><a href="@Url.Action("Qrcode", "Servico", new { codigo = item.QRCode })" id="submit" type="button" class="btn btn-sm btn-sucess"><i class="glyphicon glyphicon-qrcode" style="font-size:19px;"></i></a></td>

                                                <td><a href="@Url.Action("InativarServicoPessoaJuridica", "Servico", new { chave = item.Chave })" id="submit" type="button" class="btn btn-sm btn-sucess"><i class="glyphicon glyphicon-remove" style="font-size:19px;"></i></a></td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br /><br />