@model PagedList.IPagedList<Processo.Entidades.PessoaJuridica>
@using PagedList.Mvc;

@{
    var listaServico = ViewBag.ListaServico;
    var ranking = ViewBag.Ranking;
}


<div class="container ">

    <div class=" col-md-9 col-sm-8 col-xs-12 pull-right">

        <div class="list-group ">
            @foreach (var item in Model)
            {
                <a href="#" class="list-group-item">
                    <div class=" col-lg-3  col-md-3 col-sm-3 col-xs-12" style="text-align:center;">
                        <br />
                        <img class="img-rounded" style="width:120px; height:120px; text-align:center;" src="@item.Imagem" alt="placehold.it/120x120">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                        <br />
                        <h4 class="list-group-item-heading"> @item.Nome</h4>
                        <p class="list-group-item-text">
                            Telefone: @item.Telefone <br />
                            @item.Endereco.Rua @item.Endereco.Numero @item.Endereco.Complemento <br /> @item.Endereco.Bairro @item.Endereco.Cidade - @item.Endereco.Estado<br />
                            @*@item.Descricao*@
                            <br /><br />

                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                        <br />
                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="javascript:window.location=('@Url.Action("DetalharPessoaJuridica", "Usuario", new { chave = item.Chave })')">Ver!</button>
                        <div class="stars" style="font-size:13px;">
                            @*@Html.Hidden("pontuacao" + item.Nome, item.Avaliacoes.Count > 0 ? item.Avaliacoes.Average(e => e.Pontuacao) : 0)
                                <h4>@(item.Avaliacoes.Count > 0 ? item.Avaliacoes.Average(e => e.Pontuacao) : 0)</h4>*@
                            @if ((item.Avaliacoes.Count > 0 ? item.Avaliacoes.Average(e => e.Pontuacao) : 0) == 0)
                            {
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }

                            @if ((item.Avaliacoes.Count > 0 ? item.Avaliacoes.Average(e => e.Pontuacao) : 0) == 1)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }

                            @if ((item.Avaliacoes.Count > 0 ? item.Avaliacoes.Average(e => e.Pontuacao) : 0) == 2)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }

                            @if ((item.Avaliacoes.Count > 0 ? item.Avaliacoes.Average(e => e.Pontuacao) : 0) == 3)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }

                            @if ((item.Avaliacoes.Count > 0 ? item.Avaliacoes.Average(e => e.Pontuacao) : 0) == 4)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }

                            @if ((item.Avaliacoes.Count > 0 ? item.Avaliacoes.Average(e => e.Pontuacao) : 0) == 5)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            }
                            <br />
                            <span class="glyphicon glyphicon-user"></span>  @item.Avaliacoes.Count   total

                        </div>
                    </div>
                </a>
            }
            <br>
            @Html.PagedListPager(Model, page => Url.Action("BuscarPessoaJuridica", new { ViewBag.Nome, ViewBag.Valor, page, ViewBag.Pontuacao, ViewBag.Servico, ViewBag.Estado }))

        </div>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-12 panel pull-left">
        <div style="margin-top: 15px;">
            <form accept-charset="UTF-8" role="form">
                <li class="list-group-item disabled">
                    <h4 style="text-align: center;">REFINAR BUSCA</h4>
                    <fieldset>
                        <div class="input-group">
                            <span class="input-group-addon ">NOME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input type="text" class="form-control" placeholder="Nome" name="nome">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">VALOR &nbsp;&nbsp;&nbsp;</span>
                            <input type="text" class="form-control" placeholder="FITS" name="valor">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">RANKING</span>
                            <select class="form-control" name="pontuacao">
                                <option value="">Pontuação</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">SERVIÇO</span>
                            <select class="form-control" name="servico">
                                <option value="">Selecione o serviço</option>
                                @if (listaServico != null)
                                {
                                    foreach (var item in listaServico)
                                    {
                                        <option value="@item.Chave">@item.Nome</option>
                                    }
                                }
                            </select>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">ESTADO &nbsp;</span>
                            <select class="form-control" name="estado">
                                <option value="">Selecione o estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AM">Amazonas</option>
                                <option value="AP">Amapá</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espirito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="PR">Paraná</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SE">Sergipe</option>
                                <option value="SP">São Paulo</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <br>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Buscar">
                    </fieldset>
                </li>
            </form>

        </div>
        <br>
        <div class="">
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item disabled">
                        <h3 style="text-align: center;">RANKING</h3>
                    </li>

                    @if (ranking != null)
                    {
                        foreach (var item in ranking)
                        {
                            <li class="list-group-item">
                                <span class="badge" style="font-family:monospace">@item.Pontuacao <span class="glyphicon glyphicon-star"></span></span>
                                @item.Nome
                            </li>
                        }
                    }

                </ul>

            </div>
        </div>



    </div>


</div>
<br><br>


