@model Web.ViewModels.CadastroPessoaJuridicaViewModel

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default clearfix">
                <div class="panel-heading" style="text-align:center;">
                    <h3 class="panel-title">Cadastre-se</h3>
                </div>
                <br />                
                @using (Html.BeginForm("CadastrarPessoaJuridica", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(e => e.RazaoSocial, new { @class = "form-control input-sm", placeholder = "Razão Social" })
                            @Html.ValidationMessageFor(e => e.RazaoSocial)
                        </div><br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(e => e.Nome, new { @class = "form-control input-sm", placeholder = "Nome" })
                            @Html.ValidationMessageFor(e => e.Nome)
                        </div><br />

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            @Html.TextBoxFor(e => e.Email, new { @class = "form-control input-sm", placeholder = "Email" })
                            @Html.ValidationMessageFor(e => e.Email)
                        </div><br />

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            @Html.TextBoxFor(e => e.Telefone, new { @class = "form-control input-sm", placeholder = "Telefone" })
                            @Html.ValidationMessageFor(e => e.Telefone)
                        </div><br />

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            @Html.TextBoxFor(e => e.Celular, new { @class = "form-control input-sm", placeholder = "Celular" })
                            @Html.ValidationMessageFor(e => e.Celular)
                        </div><br />

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                            @Html.TextBoxFor(e => e.CNPJ, new { @class = "form-control input-sm", placeholder = "CNPJ" })
                            @Html.ValidationMessageFor(e => e.CNPJ)
                        </div><br />

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.TextBoxFor(e => e.Password, new { @class = "form-control input-sm", placeholder = "Senha", type = "password" })
                            @Html.ValidationMessageFor(e => e.Password)
                        </div><br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            @Html.TextAreaFor(e => e.Descricao, new { @class = "", placeholder = "Descrição", style="min-width:265px; max-width:205px;" })
                            @Html.ValidationMessageFor(e => e.Descricao)
                        </div><br />
                        <div>
                            <span class="label label-default">Envie a imagem da sua academia</span>
                            <input type="file" name="img" id="img" class="form-control" accept=".PNG,.JPG,.BMP" />
                        </div><br />
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            @Html.TextBoxFor(e => e.Endereco.CEP, new { @class = "form-control input-sm", placeholder = "CEP" })
                            @Html.ValidationMessageFor(e => e.Endereco.CEP)
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            @Html.TextBoxFor(e => e.Endereco.Rua, new { @class = "form-control input-sm", placeholder = "Rua" })
                            @Html.ValidationMessageFor(e => e.Endereco.Rua)
                        </div>

                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            @Html.TextBoxFor(e => e.Endereco.Numero, new { @class = "form-control input-sm", placeholder = "Numero" })
                            @Html.ValidationMessageFor(e => e.Endereco.Numero)
                        </div>

                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            @Html.TextBoxFor(e => e.Endereco.Complemento, new { @class = "form-control input-sm", placeholder = "Complemento" })
                            @Html.ValidationMessageFor(e => e.Endereco.Complemento)
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            @Html.TextBoxFor(e => e.Endereco.Bairro, new { @class = "form-control input-sm", placeholder = "Bairro" })
                            @Html.ValidationMessageFor(e => e.Endereco.Bairro)
                        </div>


                        <br />
                        <script type="text/javascript" src="http://cidades-estados-js.googlecode.com/files/cidades-estados-v0.2.js"></script>
                        <script type="text/javascript">
                            window.onload = function () {
                                new dgCidadesEstados(
                                    document.getElementById('estado'),
                                    document.getElementById('cidade'),
                                    true
                                );
                            }
                        </script>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            @Html.DropDownListFor(e => e.Endereco.Estado, new List<SelectListItem>(), new { @class = "form-control input-sm", id = "estado" })
                            @Html.ValidationMessageFor(e => e.Endereco.Estado)
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            @Html.DropDownListFor(e => e.Endereco.Cidade, new List<SelectListItem> { new SelectListItem { Text = "Selecione uma cidade" } }, new { @class = "form-control input-sm", id = "cidade" })
                            @Html.ValidationMessageFor(e => e.Endereco.Cidade)
                        </div>
                        <br />
                    </div>

                    @*<div style="text-align:center;">
                            <input type="checkbox" /> Eu concordo com os termos
                        </div><br />*@

                    <input type="submit" value="Registrar" class="btn btn-success" style="display: block; clear: both;width: 95%; margin: 0 2.5%;">
                }
<br />
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")