@model Web.ViewModels.ComprarFitsViewModel

<div class="container">
    @using (Html.BeginForm("ComprarFits", "Movimentacao", FormMethod.Post))
    {
        <div class="row destacados">

            <div class="col-md-4 col-md-offset-4">
                <div>
                    <img src="~/images/ImageHome/ico.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
                    <p>
                        <br />
                        @Html.DropDownListFor(e => e.QuantidadeFits, ViewBag.Valor as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        <br />
                        @Html.DropDownListFor(e => e.TipoCartao, ViewBag.TipoCartao as IEnumerable<SelectListItem>, new { @class = "form-control" })                        
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                            @Html.TextBoxFor(e => e.NumeroCartao, new { placeholder = "Número do cartão", @class = "form-control" })
                        </div>
                        <br />
                        <div class="input-group ">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                            @Html.TextBoxFor(e => e.Cvv, new { @class = "form-control", placeholder = "CVV" })
                        </div>
                        <br />
                        @Html.DropDownListFor(e => e.Mes, ViewBag.MesVencimento as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        <br />
                        @Html.DropDownListFor(e => e.Ano, ViewBag.AnoVencimento as IEnumerable<SelectListItem>, new { @class = "form-control" })                        
                        <br />
                        <input type="submit" class="btn btn-primary btn-block" title="Enlace" value="Comprar »" />
                </div>
            </div>
        </div>
    }

</div>