@model Web.ViewModels.ContatoViewModel

<div class="col-lg-push-11 " style="margin-top:-40px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3949.734552060161!2d-34.91523699999999!3d-8.128485000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1e37b9cc4885%3A0xdd842ac8a9c1005f!2sUnibratec!5e0!3m2!1spt-BR!2sbr!4v1409281254658" style=" width: 100%; height:300px; "></iframe>
</div>

<div class="container" style="width:100% !important;">

    <div class="row clearfix">
        <br />
        <div class="col-md-4 ">
            <div class="panel panel-success" style="max-height: 278px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Fale Conosco</h3>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm("Contato", "Home", FormMethod.Post))
                    {

                        @Html.TextBoxFor(e => e.De, new { @class = "form-control", placeholder = "Email", type = "email" })
                        @Html.ValidationMessageFor(e => e.De)<br />

                        @Html.TextBoxFor(e => e.Assunto, new { @class = "form-control", placeholder = "Assunto" })
                        @Html.ValidationMessageFor(e => e.Assunto)<br />

                        @Html.TextAreaFor(e => e.Mensagem, new { @class = "form-control", placeholder = "Mensagem" })
                        @Html.ValidationMessageFor(e => e.Mensagem)<br />

                        <input type="submit" value="Enviar" class="btn-sm  btn-success pull-right">
                    }
                </div>
            </div>
            </div>
                <div class="col-md-4 ">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Moove Brasil</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div>
                                    <div>
                                        <img src="~/images/imageHome/moove.png" class="img-responsive img-center" style="max-width:270px; margin:15px auto; margin-top:-10px" />
                                    </div>
                                    <table class="table table-user-information">
                                        <tbody>

                                            <tr>
                                                <td>Endereço</td>
                                                <td>Av. Mascarenhas de Moraes</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td><a href="mailto:bananasfit@gmail.com">bananasfit@gmail.com</a></td>
                                            </tr>
                                            <tr>
                                                <td>Telefone</td>
                                                <td>
                                                    (081) 8888.8888
                                                </td>
                                            </tr>
                                        
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-md-4 ">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Fan Page</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div>
                            <div>
                                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fbananasfitoficial&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=1541034432785109" scrolling="no" frameborder="0" style="border:none; margin-top: -14px;min-height: 215px;width: 100%;" allowtransparency="true"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            </div>
        </div>
